body {
    background: rgb(204,204,204); 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.carde {
    /* background-color: #e0e0e0; */
    /* background-color: #f6f6f6; */
    background-color: #ececec;
    float: left;
    margin-left: 15px;
    margin-top: -40px;
    padding-top: 40px;
    width: 100%;
}

.carde-2 {
    /* background-color: #e0e0e0; */
    /* background-color: #f6f6f6; */
    background-color: #ececec;
    float: left;
    height: 178px;
    /* margin-left: 15px; */
    width: 100%;
    padding: 10px
}

.ml-15 {
    margin-left: 10px;
}
.container {
    padding-left: 0 !important;
    float: left;
}

.header {
    height: 20px;
    width: 300px;
    background-color: #777;
}

.footer {
    height: 20px;
    width: 250px;
    background-color: #777;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    line-height: 12px;
}

.top {
    width: 100mm;
    height: 13mm;
    position: absolute;
    top: 0;
    background: #232323;
    left: 10mm;
}
.dev{
    color: white;
    margin-left: 10px;
    line-height: 57px;
}
.bottom {
    width: 70mm;
    height: 13mm;
    position: absolute;
    bottom: 0;
    background: #232323;
    left: 10mm;
}


.leftt{
    width: 30%;
    float: left;

}
.rightt {
    width: 70%;
    float: left;
}



.myi{
    margin-top: 15mm;
    width: 153px;
    height: 204px;
    margin-left: 15px;
}
.my-title {
    font-family: 'Oswald', sans-serif !important;
    margin-top: 15mm;
    text-transform: uppercase;
}
.age{
    text-transform: none;
}
.position{
    font-weight: 300;
    font-family: 'Oswald', sans-serif !important;
    font-size: 13px !important;
    text-decoration: underline;
    margin: 0mm 0 5mm 0;
}
p.back {
    font-family: 'Oswald', sans-serif !important;
    font-size: 14px !important;
    line-height: 13px !important;
}

.strong{
    font-weight: 700;
}

.title-first {
    font-family: 'Oswald', sans-serif !important;
    margin-top: 10mm;
    text-decoration: underline;
    margin-bottom: 5mm;
    font-size: 15pt;
}

.title {
    font-family: 'Oswald', sans-serif !important;
    text-decoration: underline;
    margin-bottom: 5mm;
    font-size: 15pt;
}

.time {
    font-weight: 700;
}
